<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace -> mapper接口所在位置-->
<mapper namespace="mybatis.mapper.IfMapper">
    <select id="getUsers" resultType="User">
        select * from user where 1 = 1

        <if test="pid != null">
            and pid = #{pid}
        </if>
        <if test="name != null">
            and uname like concat('%',#{name},'%')
        </if>
    </select>

</mapper>
